friendship-service/node_modules/
comment-service/node_modules/
post-service/node_modules/
notification-service/node_modules/
user-service/node_modules/


friendship-service/.env
comment-service/.env
post-service/.env
notification-service/.env
user-service/.env

.env
.gitignore

post-service/uploads/
notification-service/models/notification.js
notification-service/tests/*.test.js
